<div class="item-eidolon">
    <div class="eidolon-skill-trace-container">
        <img src="/uploads/{{ eidolon.filename }}" alt="">
        <div>
            <h4>Eidolon {{ eidolon.number }}</h4>
            <h3>{{ eidolon.name }}</h3>
            <div>{{ eidolon.description|raw }}</div>
        </div>    
    </div> 
</div>