/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}  
:root {
    --vh: 1vh;
}


/* font */
@font-face {
    font-family: DinPro;
    src: url(/public/fonts/DinPro/dinpro.otf);
}
    
@font-face {
    font-family: DinProBold;
    src: url(/public/fonts/DinPro/dinpro_bold.otf);
}
header, footer, h1, h2, h3, h4, li, li a, strong, button, .lc-base-stat-value {
  font-family: DinProBold;
}


/* color scheme */
:root {
  --five-star-color: rgba(139, 81, 75, 1);
  --five-star-hover-color: rgba(205, 165, 104, 1);
  --five-star-gradient: linear-gradient(180deg, rgba(139, 81, 75, 1) 0%, rgba(171, 121, 89, 1) 33%, rgba(205, 165, 104, 1) 75%);
  --five-star-gradient-title: linear-gradient(rgba(201,106,106,1), rgba(201,163,106,1));

  --four-star-color: rgb(46 45 87);
  --four-star-hover-color: rgba(104, 80, 141, 1);
  --four-star-gradient: linear-gradient(180deg, rgb(46 45 87) 0%, rgba(94, 73, 145, 1) 33%, rgba(104, 80, 141, 1) 75%);
  --four-star-gradient-title: linear-gradient(rgba(60,59,98,1), rgba(98,59,90,1));

  --three-star-color: rgb(52,35,137);
  --three-star-hover-color: rgb(35, 87, 137);
  --three-star-gradient: linear-gradient(180deg, rgba(52,35,137,1) 0%, rgba(36,104,170,1) 75%);
  --three-star-gradient-title: linear-gradient(rgba(35,87,137,1), rgba(60,59,98,1));

  --two-star-color: rgb(80,107,63);
  --two-star-hover-color: rgb(63, 107, 78);
  --two-star-gradient: linear-gradient(180deg,rgba(63,107,78,1) 0%, rgba(54,139,83,1) 75%);

  --gold: rgb(219, 194, 145);
  --gold-alt: rgb(201, 163, 106);
  --gold-gradient: linear-gradient(180deg, rgba(219, 194, 145, 1) 0%, rgba(147, 116, 56, 1) 95%);
  --main-background: rgb(40, 40, 40);
  --darker: rgb(15, 14, 14); 
}
.five-star h3, .five-star .substats .substat p, .five-star strong  {
  color: var(--five-star-color);
  text-shadow: 1px 1px 5px black;
  
}
.four-star h3, .four-star .substats .substat p, .four-star strong {
  color: var(--four-star-color);
  text-shadow: 1px 1px 5px black;
}
main, header .hamburger {
  background-color: var(--main-background);
}
header nav p {
  color: white;
}
.five-star h2 {
  background-image: var(--five-star-gradient-title);
}
.four-star h2 {
  background-image: var(--four-star-gradient-title);
}
.list .five-star:hover, .five-star .character-nav-link:hover {
  background: var(--five-star-hover-color);
}
.list .four-star:hover, .four-star .superimposition-toggle:hover, .four-star .character-nav-link:hover, .ascmat:hover .four-star, .tracemat:hover .four-star, .bossmat:hover, .echomat:hover {
  background: var(--four-star-hover-color);
}
.list .three-star:hover, .three-star .superimposition-toggle:hover, .ascmat:hover .three-star, .tracemat:hover .three-star {
  background: var(--three-star-hover-color);
}
.list .two-star:hover {
  background: var(--two-star-hover-color);
}
.list .five-star, .five-star .character-nav .active, .five-star .character-banner, .five-star-mat {
  background: var(--five-star-gradient);
}
.list .four-star, .four-star .character-banner, .four-star .active, .four-star-mat {
  background: var(--four-star-gradient);
}
.list .three-star, .three-star .active, .three-star-mat {
  background: var(--three-star-gradient);
}
.list .two-star, .two-star-mat {
  background: var(--two-star-gradient);
}


/* general style */
h1 {
  font-size: 48px;
  text-transform: uppercase;
  margin-top: 3vh;
  margin-bottom: 5vh;
  text-align: center;
  text-shadow: 1px 1px 0px white;
  background: var(--gold-gradient);
  color: var(--darker);
  padding: 10px 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
  margin: 5px 0px;
}
h4 {
  text-transform: uppercase;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
li {
  list-style-type: none;
}
header nav, main, footer {
    padding: 5px;
}
header, footer, h2, li a {
  color: var(--gold);
}



/* main parts */
body {
    padding: 0;
    margin: 0;
    font-family: DinPro;
    width: 100%;
    line-height: 1.6;
}
main {
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 100px;
    font-size: 16px;
    min-height: 75vh;
}
#container {
    display: grid;
}
header, footer {
    background-color: var(--darker);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.s-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .s-container {
  margin: 2vh 5vh 2vh 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 540px) {
  header {
    height: 100%;
  }
  main {
    min-height: 85vh;
  }
  footer {
    height: 25vh;
  }
}



/* header style */
header {
    position: fixed;
    height: 100vh;
    width: 100px;
    z-index: 10;
}
.logo.small {
  height: 100px;
}
.logo.large {
  display: none;
}

/* header style while hovering on header */
header:hover {
  width: 225px;
  transition: 0.5s;
}
header:hover .logo.large {
  display: block;
  width: 200px;
}
header:hover .logo.small {
  display: none;
}

/* hamburger menu - to be added in html*/
header .hamburger {
  display: none;
  height: 40px;
  width: 40px;
  border: 2px solid var(--gold);
  border-radius: 33%;
  cursor: pointer;
}
header .hamburger i {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

/* main nav */
header nav .main-nav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
  flex-direction: column;
}
header nav .main-nav li {
  display: inline-block;
}
header nav .main-nav li a {
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  transition: 0.1s;
}
header nav .main-nav li a img {
  height: 50px;
}
header nav .main-nav li a p {
  display: none;
}
header:hover nav .main-nav li a p {
  display: block;
  width: 100px;
  text-align: center;
}
.main-nav li a:hover {
  background: var(--main-background);
}



/* footer style */
footer {
    position: relative;
    margin-left: 100px;
    bottom: 0;
    height: 15vh;
    padding: 5px;
    text-align: center;
    z-index: 1;
}
footer p {
  margin: 5px 0px 0px 100px;
}



/* sign-in and register forms */
.sign-in-form, .sign-in-form div, .register form, .register form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-in-form div input, .register form div input {
  margin: 5px 0px 10px;
  width: 300px;
  padding: 5px;
  text-align: center;
  font-family: DinPro;
  background-color: var(--gold-alt);
}
.sign-in-form button, .register form button {
  background-color: var(--darker);
  color: #FFFFFF;
  font-size: 16px;
  margin: 15px;
  padding: 5px 10px;
}
.sign-in-form button:hover, .register form button:hover {
  background-color: var(--gold-alt);
  color: var(--main-background);
  transition: 0.4s;
}



/* character and lightcone list */
.character-list, .lc-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.character-list .item-character, .lc-list .item-lc {
  height: 190px;
  width: 140px;
  display: flex;
  justify-content: center;
  transition: 0.4s;
  margin: 2px;
  overflow: hidden;
  z-index: 0;
}
.lc-list .item-lc {
  height: 175px;
}
.character-list .item-character a, .lc-list .item-lc a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.character-list .item-character .character-path-type, .lc-list .item-lc .lc-path-div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-left: 100px;
  position: absolute;
  margin-top: 5px;
}
.character-type, .character-path, .lc-path, .bossmat-type img, .tracemat-path img {
  height: 20px;
  margin: 1px;
  padding: 5px;
  backdrop-filter: blur(2px);
  border-radius: 50%;
  background-color: #0000005e;
}
.character-name, .lc-name {
  max-width: 120px;
  max-height: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  padding: 5px 10px;
  margin-top: 140px;
  border-radius: 30px;
  text-shadow: 1px 1px 10px #000, -1px 1px 10px #000, -1px -1px 10px #000, 1px -1px 10px #000;
  line-height: 1;
  font-family: DinProBold;
}
.lc-name {
  margin-top: 130px;
}
.character-name p, .lc-name p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}
.character-list .item-character a .character-icon, .lc-list .item-lc a .lc-icon {
  width: 140px;
}
.character-list .item-character:hover a .character-icon, .lc-list .item-lc:hover a .lc-icon {
  width: 170px;
  transition: 0.4s;
}
.upcoming, .new {
  position: absolute;
  background-color: #0000005e;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: DinProBold;
  margin-top: 5px;
  margin-right: 55px;
  text-align: left;
  text-shadow: 1px 1px 0px #000000;
  backdrop-filter: blur(2px);
}



/* character  show */
.character-show {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* character show banner */
.character-show h1 {
  background: none;
  margin: 0;
  line-height: 1;
  font-size: 40px;
}
.character-banner {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 800px;
}
.character-banner img {
  height: 95px;
}
.character-banner div {
  width: 85%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* character show details */
.character-show h2, .lc-show h2 {
  color: transparent;
  background-clip: text;
  min-height: 40px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.character-show .character-asc-mats {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.212);
  padding: 20px;
  align-items: center;
  width: 250px;
}
.character-show .character-asc-mats div {
  display: flex;
  flex-direction: row;
}
.character-show .character-asc-mats img {
  width: 50px;
}
.mat {
  margin: 2px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  padding: 2px;
}

/* character show content */
.character-show .character-content {
  margin: 20px auto 0px auto;
  border-radius: 5px;
  width: 100%;
}
.character-show .open .content, .lc-show .open {
  padding: 20px 25px;
  text-align: justify;
  background: rgba(0, 0, 0, 0.212);
}
/* character show content nav */
.character-show ul, .lc-show ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
  justify-content: center;
}
.character-show li, .lc-show li {
  width: 15%;
  min-width: 150px;
  min-height: 40px;
  max-height: 40px;
  text-align: center;
  font-size: 16px;
  display: flex;
  padding: 5px 0px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--main-background);
  background-color: var(--darker);
  margin-bottom: 5px;
}
#voicelines li {
  background-color: #0f0e0ea2;
}
#voicelines li.active {
  background-color: rgb(201,106,106);
}
/* character show content section */
.character-show .eidolon-skill-trace-container {
  display: flex;
  flex-direction: row;
  min-height: 100px;
  align-items: center;
  padding: 2px;
}
.character-show .eidolon-skill-trace-container, .character-show .substats, .character-show .item-voiceline, .character-show .item-story {
  margin: 5px;
  border: 2px solid #282828;
}
.character-show .item-voiceline:hover, .character-show .item-story:hover {
  cursor: pointer;
  background-color: #0f0e0ea2;
  transition: 0.4s;
}
.character-show .eidolon-skill-trace-container img {
  height: 75px;
  padding-left: 5px;
}
.character-show .eidolon-skill-trace-container div {
  margin: 10px;
}
.character-show .eidolon-skill-trace-container div div, .character-show .item-voiceline p, .character-show .item-story div {
  margin: 5px;
  font-size: 14px;
}
.character-show .item-voiceline p, .character-show .item-story div, .lc-show .lightcone-superimposition, .character-show section, .character-show .voicelines, .character-show .substats .substat div p, .character-show .character-asc-mats p {
  display: none;
}
.character-show .item-voiceline.open p, .character-show .item-story.open div, .lc-show .lightcone-superimposition.open, .character-show .open, .character-show .voicelines.open {
  display: block;
}
.character-show .eidolon-skill-trace-container div .skill-energy, .character-show .eidolon-skill-trace-container .skill-break, .character-show .eidolon-skill-trace-container .skill-type {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 5px;
  color: rgb(201, 156, 89);
  line-height: 1.1;
}
.character-show .eidolon-skill-trace-container div div p {
  margin: 2px 5px;
}
.character-show .substats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}
.character-show .substats .substat {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.character-show .substats .substat p {
  font-weight: bold;
  font-size: 18px;
}
.character-show .substats .substat div:hover p, .character-show .character-asc-mats a:hover p, .materials section a:hover p {
  display: block;
  position: absolute;
  background-color: var(--main-background);
  border: 2px solid #DBC291;
  color: #DBC291;
  padding: 3px 5px;
  margin-left: 10px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
.character-show .substats .substat div, .character-show .substats .substat img {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}
.character-show .item-voiceline, .character-show .item-story {
  padding: 10px 25px;
}


/* lightcone show */
main .s-container .lc-show {
  display: flex;
  flex-direction: column;
}
.lc-basic-info {
  display: flex;
  flex-direction: row;
  margin: 2vh;
}
.lc-show .lc-basic-info-base-stats {
  background: rgb(40,40,40);
  background: linear-gradient(177deg, rgba(40,40,40,1) 0%, rgba(0,0,0,1) 100%);
  border-radius: 2%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.lc-show .lc-basic-info-base-stats .lc-base-stats {
  display: flex;
  flex-direction: row;
  margin: 1vh 5vh;
  justify-content: space-around
}
.lc-show .lc-basic-info-base-stats .lc-base-stats .lc-base-stat-value {
  margin-top: 5px;
}
.lc-show .lc-story {
  width: 75%;
  padding: 15px 35px 15px 30px;
  margin-top: 2vh;
  margin-right: auto;
  margin-left: auto;
  font-style: oblique;
  text-align: justify;
  background: rgb(40,40,40);
  background: linear-gradient(164deg, rgba(40,40,40,1) 25%, rgba(0,0,0,1) 75%, rgba(40,40,40,1) 100%);
}
.lc-show .lc-path-rarity {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background: #0000007c;
  width: 120px;
  padding: 10px 15px;
  border-radius: 50px;
}
.lc-show .lc-path-rarity .lc-path {
  height: 30px;
}
.lc-show .lc-path-rarity .lc-rarity {
  width: 50px;
}
.lc-show .skill-superimposition {
  width: 75%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  .character-show .character-nav-link {
    height: 50px;
  }
}

@media screen and (max-width: 825px) {
  .character-banner {
    flex-direction: column;
    justify-content: center;
    min-height: 150px;
    max-height: 250px;
  }
  .character-banner h1 {
    font-size: 28px;
  }
}

.materials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.materials section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(0, 0, 0, 0.212);
  padding: 10px;
  margin: 20px;
  width: 80%;
}

.materials section a {
  font-size: 12px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.materials section a p {
  display: none;
}

.materials section .mats-container {
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.materials section a img {
  height: 75px;
  width: 75px;
  margin: 5px;
}

.item-character:hover {
  font-family: DinProBold;
  transition: 0.4s;
}


