/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  :root {
      --vh: 1vh;
  }

@font-face {
    font-family: DinPro;
    src: url(/public/fonts/DinPro/dinpro.otf);
}
      
@font-face {
    font-family: DinProBold;
    src: url(/public/fonts/DinPro/dinpro_bold.otf);
}

body {
    padding: 0;
    margin: 0;
    font-family: DinPro;
    width: 100%;
}

header nav, main, footer {
    padding: 5px;
}

main {
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 100px;
    font-size: 16px;
    min-height: 75vh;
}

#container {
    display: grid;
}
  
header {
    position: fixed;
    height: 100vh;
    width: 100px;
}

header, footer {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
  
footer {
    position: relative;
    bottom: 0;
    height: 15vh;
    padding: 5px;
    text-align: center;
}

footer p {
  margin: 5px 0px 5px 100px;
}



h1 {
  font-size: 48px;
  text-transform: uppercase;
  margin-top: 3vh;
  margin-bottom: 5vh;
  text-align: center;
  text-shadow: 1px 1px 0px white;
  background: rgb(219,194,145);
  background: linear-gradient(129deg, rgba(219,194,145,1) 0%, rgba(147,116,56,1) 95%);
  color: black;
  padding: 10px 30px;
  border-radius: 3px;
}

h2 {
  font-size: 24px;
  margin-left: 2vh;
  margin-bottom: 4vh;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 8vh;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

li {
  list-style-type: none;
}

header, footer, h2, li a {
  color: #DBC291;
}

header, footer, h1, h2, h3, li, li a, strong, button, .lc-base-stat-value {
  font-family: DinProBold;
}

.s-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main, header .hamburger {
  background-color: #282828;
}

@media screen and (max-width: 540px) {
  header {
    height: 100%;
  }
  main {
    min-height: 85vh;
  }
  footer {
    height: 25vh;
  }
}

header .hamburger {
  display: none;
  height: 40px;
  width: 40px;
  border: 2px solid #DBC291;
  border-radius: 33%;
  cursor: pointer;
}

header .hamburger i {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0px;
}

header nav .main-nav {
  overflow: hidden;
}

header nav p {
  color: white;
  line-height: 90px;
}

header nav .main-nav li {
  display: inline-block;
  line-height: 90px;
}

header nav .main-nav li a {
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  transition: 0.4s;
}

header nav .main-nav li a img {
  height: 50px;
}


/* login form */

.sign-in-form, .sign-in-form div, .register form, .register form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-form div input, .register form div input {
  margin: 5px 0px 10px;
  width: 300px;
  padding: 5px;
  text-align: center;
  font-family: DinPro;
  background-color: #c9a36a;
}

.sign-in-form button, .register form button {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16px;
  margin: 15px;
  padding: 5px 10px;
}

.sign-in-form button:hover, .register form button:hover {
  background-color: #c9a36a;
  color: #282828;
  transition: 0.4s;
}


/* character and lc list */

.character-list, .lc-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.character-list .item-character, .lc-list .item-lc {
  height: 190px;
  width: 140px;
  display: flex;
  justify-content: center;
  transition: 0.4s;
  margin: 2px;
  overflow: hidden;
}

.lc-list .item-lc {
  height: 175px;
}

.character-list .item-character a, .lc-list .item-lc a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-list .item-character .character-path-type, .lc-list .item-lc .lc-path-div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-left: 100px;
  position: absolute;
  margin-top: 5px;
}

.character-type, .character-path, .lc-path, .bossmat-type img, .tracemat-path img {
  height: 20px;
  margin: 1px;
  padding: 5px;
  backdrop-filter: blur(2px);
  border-radius: 50%;
  background-color: #0000005e;
}

.character-name, .lc-name {
  max-width: 105px;
  position: absolute;
  padding: 5px 10px;
  backdrop-filter: blur(1px);
  margin-top: 140px;
  border-radius: 30px;
  text-shadow: -2px 2px 3px #000000;
}

.lc-name {
  margin-top: 130px;
}

.character-name p, .lc-name p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

.character-list .item-character a .character-icon, .lc-list .item-lc a .lc-icon {
  width: 140px;
}

.character-list .item-character:hover a .character-icon, .lc-list .item-lc:hover a .lc-icon {
  width: 170px;
  transition: 0.4s;
}

.upcoming, .new {
  position: absolute;
  background-color: #0000005e;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: DinProBold;
  margin-top: 5px;
  margin-right: 55px;
  text-align: left;
  text-shadow: 1px 1px 0px #000000;
  backdrop-filter: blur(2px);
}


.list .five-star:hover {
  background: rgba(201,163,106,1);
  font-family: DinProBold;
  transition: 0.4s;
}

.list .four-star:hover,
.four-star .superimposition-toggle:hover,
.four-star .character-nav-link:hover,
.ascmat:hover .four-star, .tracemat:hover .four-star,
.bossmat:hover, .echomat:hover {
  background: #623b5a;
  font-family: DinProBold;
  transition: 0.4s;
}

.list .three-star:hover,
.three-star .superimposition-toggle:hover,
.ascmat:hover .three-star, .tracemat:hover .three-star {
  background: #235789;
  font-family: DinProBold;
  transition: 0.4s;
}

.ascmat:hover .two-star, .tracemat:hover .two-star {
  background: #3f6b4e;
  font-family: DinProBold;
  transition: 0.4s;
}

.list .five-star, .five-star h2, .five-star .active {
  background: rgb(201,106,106);
  background: linear-gradient(180deg, rgba(201,106,106,1) 0%, rgba(201,163,106,1) 50%);
}

.list .four-star, .four-star h2, .four-star .active,
.ascmat .four-star, .tracemat .four-star,
.bossmat, .echomat {
  background: rgb(60,59,98);
  background: linear-gradient(180deg, rgba(60,59,98,1) 0%, rgba(98,59,90,1) 50%);
}

.list .three-star, .three-star h2, .three-star .active,
.ascmat .three-star, .tracemat .three-star {
  background: rgb(52,35,137);
  background: linear-gradient(180deg, rgba(52,35,137,1) 0%, rgba(35,87,137,1) 20%, rgba(36,104,170,1) 70%);
}

.ascmat .two-star, .tracemat .two-star {
  background: rgb(80,107,63);
  background: linear-gradient(180deg, rgba(80,107,63,1) 0%, rgba(63,107,78,1) 20%, rgba(54,139,83,1) 70%);
}

.main-nav li a:hover {
  background: #282828;
}