{% extends 'base.html.twig' %}

{% block title %}{{ character.name }}{% endblock %}

{% block body %}
    <div class="s-container">
        <div class="character-show {% if character.rarity == "4-star"%}four-star {% else %}five-star{% endif %}">
            <h1>{{ character.name }}</h1>
            <div class="character-asc-mats">
                {% if character.enemyDrops %}
                    
                {% endif %}
                {% if character.stagnantShadowDrop %}
                    <img src="/uploads/{{ character.stagnantShadowDrop.filename }}" alt="">
                {% endif %}
                {% if character.pathMaterials %}
                    
                {% endif %}
                {% if character.echoOfWarDrop %}
                    <img src="/uploads/{{ character.echoOfWarDrop.filename }}" alt="">
                {% endif %}
            </div>
            <div class="character-content">
                <nav>
                    <ul class="character-nav">
                        <li class="character-nav-link active" id="toggle-traces">Traces</li>
                        <li class="character-nav-link" id="toggle-eidolons">Eidolons</li>
                        <li class="character-nav-link" id="toggle-voicelines">Voicelines</li>
                        <li class="character-nav-link" id="toggle-stories">Character stories</li>
                        <li class="character-nav-link">Build</li>
                    </ul>
                </nav>
                <section class="open" id="traces">
                    <div class="content">
                        <p>Traces to be added.</p>
                    </div>
                </section>
                <section id="eidolons">
                    <div class="content">
                        {% if character.characterKit.eidolons %}
                            <div class="eidolons">
                                {% include "characters/eidolons/list.html.twig" %}
                            </div>
                        {% else %}
                            <p>Eidolons to be added.</p>
                        {% endif %}
                    </div>
                </section>
                <section id="voicelines">
                    <div class="content">
                        {% if character.voicelines %}
                            <div class="voicelines">
                                <h3>Voicelines</h3>
                                {% include "characters/voicelines/voiceline-list.html.twig" %}
                            </div>
                            <div class="voicelines">
                                <h3>Combat</h3>
                                {% include "characters/voicelines/combat-list.html.twig" %}
                            </div>
                        {% else %}
                            <p>Voicelines to be added.</p>
                        {% endif %}
                    </div>
                </section> 
                <section id="stories">
                    <div class="content">
                        {% if character.stories %}
                        {% else %}
                        <p>Character stories to be added.</p>
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script>
        let toggleTraces = document.querySelector('#toggle-traces'),
            toggleEidolons = document.querySelector('#toggle-eidolons'),
            toggleVoicelines = document.querySelector('#toggle-voicelines'),
            toggleStories = document.querySelector('#toggle-stories'),
            allToggle = document.querySelectorAll('.character-nav-link');

        let traces = document.querySelector('#traces'),
            eidolons = document.querySelector('#eidolons'),
            voicelines = document.querySelector('#voicelines'),
            stories = document.querySelector('#stories'),
            sections = document.querySelectorAll('section');

            toggleTraces.addEventListener("click", () => {
                sections.forEach(section => {
                    section.classList.remove('open');
                })
                traces.classList.add('open');
                allToggle.forEach(toggle => {
                    toggle.classList.remove('active');
                })
                toggleTraces.classList.add('active');
            })
            
            toggleEidolons.addEventListener("click", () => {
                sections.forEach(section => {
                    section.classList.remove('open');
                })
                eidolons.classList.add('open');
                allToggle.forEach(toggle => {
                    toggle.classList.remove('active');
                })
                toggleEidolons.classList.add('active');
            })
            
            toggleVoicelines.addEventListener('click', () => {
                sections.forEach(section => {
                    section.classList.remove('open');
                })
                voicelines.classList.add('open');
                allToggle.forEach(toggle => {
                    toggle.classList.remove('active');
                })
                toggleVoicelines.classList.add('active');
            })
            
            toggleStories.addEventListener('click', () => {
                sections.forEach(section => {
                    section.classList.remove('open');
                })
                stories.classList.add('open');
                allToggle.forEach(toggle => {
                    toggle.classList.remove('active');
                })
                toggleStories.classList.add('active');
            })
    </script>
{% endblock %}